body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    width: 200px;
    border-radius: 50%;
    border: solid 1px blueviolet;
}

.perfil {
    text-align: center;
    margin-top: 50px;
}

.tittle {
    color: blueviolet;
}

.tittle2 {
    color: gray;
}

.meio {
    text-align: center;
    margin-top: 100px;
    color: gray;
}

button {
    border: solid 1px blueviolet;
    outline: none;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: blueviolet;
    border-radius: 5px;
    margin-left: 10px;
  }
  